# Build artifacts
target/
debug/
mutants.out*/
*.pdb
*.log

# Version control
.git/
.gitignore
.github/

# Documentation
*.md
!README.md
LICENSE

# IDE & System files
.idea/
.vscode/
**/.DS_Store
Thumbs.db

# Docker config
Dockerfile
.dockerignore

# Dependencies
*.lock
!Cargo.lock
